NODE_ENV=production
NEXT_PUBLIC_APP_URL=http://localhost:3001

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/booking_app"

# Auth
NEXTAUTH_SECRET="DM9wdAzI7secret/I2FrBw9+4CpaH/f/gIHtohjLCpm8="
NEXTAUTH_URL=${NEXT_PUBLIC_APP_URL}

# SuperAdmin Credentials for initial seed
SUPERADMIN_EMAIL="admin@example.com"
SUPERADMIN_PASSWORD="superadminpassword"
SUPERADMIN_NAME="Super Admin"

# SMTP Configuration (Mailtrap)
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT="2525"
SMTP_USER="412d1c94c928db"
SMTP_PASS="45581b43ece0c4"
SMTP_FROM="Private Person <from@example.com>"
